<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>My Games</title>
</head>

<body id="wrapper">
	<header>
    <link rel="stylesheet" href="/resources/indexCSS.css" type="text/css">
    <link rel="stylesheet" href="/resources/myItemsCSS.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <% include partials/header.ejs %>

    <% include partials/user-navigation.ejs %>

        <div id="fillerTop">

        </div>
	</header>

	<main>
    <% include partials/site-navigation.ejs %>

        <div id="filler">

        </div>

        <div id="floatRight">
          <h5>Home > My Games</h5>
          <p>Table of the users games</p>
          <!--            Table should have item name rating average (in stars), and description-->
          <!--            Table should have an update button that links to the item page-->
          <!--            Table should have a delete button that links back to the my items page-->
          <table>

            <thead>
              <tr>
                <th id="name">Name</th>
                <th id="category">Category</th>
                <th id="rating">Rating</th>
                <th id="swapped">Swapped</th>
                <th id="buttons"></th>
              </tr>
            </thead>
            <tbody>
							<% for(var i = 0; i < profile.userItems.length; i++){ %>
              <tr>
                <td headers="name" class="nameLinks"><a href="item?theItem=<%= profile.userItems[i].code %>"><b><%= profile.userItems[i].name %></b></a></td>
                <td headers="category"><%= profile.userItems[i].category %></td>
                <td headers="rating">
									<% for(var j = 0; j < profile.userItems[i].rating; j++){ %>
                  <span class="fa fa-star"></span>
									<% } %>
                </td>
                <td headers="swapped">
									<% for(var k = 0; k < userSwaps.length; k++){ %>
										<% if((profile.userItems[i].code == userSwaps[k].itemCodeWant || profile.userItems[i].code == userSwaps[k].itemCodeOwn) && userSwaps[k].itemStatus == "swapped"){ %>
                  		<img src="/resources/swap.png" width="50" height="50" class="pic" alt="swap">
										<% }else{} %>
									<% } %>
                </td>
                <td headers="buttons">
                  <form action="item?action=update&theItem=<%= profile.userItems[i].code %>" method="post">
                    <button type="submit" class="update" value="update" name="action">Update</button>
                  </form>

                  <form action="myItems?action=delete&theItem=<%= profile.userItems[i].code %>" method="post">
                    <button type="submit" class="delete" name="action" value="delete">Delete</button>
                  </form>
                </td>
              </tr>
							<% } %>
            </tbody>
          </table>

					<form action="mySwapHistory" method="get">
						<button type="submit" class="swapIt" id="return">View Swap History</button>
					</form>

					<% if(errors.length > 0){ %>
						<label><b>Error(s):</b></label>
						<ul>
							<% for(var i = 0; i < errors.length; i++){ %>
								<li><b><%= errors[i].msg %></b></li>
							<% } %>
						</ul>

					<% }else{} %>
        </div>

        <div id="fillerBottom">

        </div>

	</main>

  <% include partials/footer.ejs %>


</body>
</html>
